<script language="Javascript">
  Stripe.setPublishableKey("<%= ENV['STRIPE_TEST_PUBLISHABLE_KEY'] %> ");
</script>


# <section class="order_form">
  <h1>Please Enter Your Details:</h1>
  <%= render 'form', order: @order %>


<%= javascript_pack_tag("pay_type") %>
